<div>
  <div class="columns is-marginless">
    <div class="column is-11 is-marginless-mobile is-margin-left-big-big-big is-margin-top-big-big">
      <h3 class="title is-4">My Awards and Recognition</h3>
      <dx-awards
          class="is-margin-bottom-big-big"
          id="awards-comp"
          complete="Complete"
          learningtitle="Learning"
          learning="No awards yet! Start exploring Experience League to discover what you can earn."
          subtitle=""
          productstitle="In-Product"
          products="Coming Soon"
          eventstitle="Events"
          events="Coming Soon"
          imagealt="Image for awards pie chart"
          bulma="/assets/css/bulma.min.css">
      </dx-awards>
    </div>
  </div>
</div>
