<dx-cards id="essentials-guides-comp" headline="Title" content="Description" footer="Tags,Role" uri="URL" chunk="3"
          cdn="//cdn.experienceleague.adobe.com"
          empty="No guides to display"
          bulma="/assets/css/bulma.min.css" key="guides"
          left="Previous" right="Next" empty="No results" feedbackdone="Thanks for your feedback."
          page="{{a}} of {{b}}"
          url=""
          duration="Seconds"
          alt="The Image for"
          upvote="Vote up"
          downvote="Vote down"
          bookmark="Bookmark this"
          copy="Copy launch URL"
          locale="en"
></dx-cards>
