<div id="courses" class="is-hidden">
  <div data-id="notice" class=""></div>
  <div class="columns is-marginless courses-marquees">
    <div class="courses-bg-graphic"></div>
    <div class="courses-mobile-marquee is-hidden-tablet">
      <figure class="image">
        <img src="/assets/img/courses/courses-mobile.png" alt="Courses Marquee">
      </figure>
    </div>
    <div class="courses-marquee-left is-hidden-mobile"></div>
    <div class="column is-offset-1 is-5">
      <section class="hero">
        <div class="hero-body is-flex is-vcentered is-padded-left-none">
          <div class="container">
            <h1 class="is-size-36 is-size-34-touch is-size-27-mobile is-margin-bottom-big is-extra-bold has-text-blackest">Courses from Adobe experts, designed just for you.</h1>
            <p class="is-size-18 is-size-19-touch has-text-blackest">In Experience League, a course is an expertly curated collection of lessons designed to quickly help you gain the skills and knowledge you seek. Get personalized course recommendations by completing your profile.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="columns is-marginless has-background-white is-padded-top-big-big-big">
    <div class="column is-offset-2 is-8">
      <div class="columns filter-row is-multiline is-8">
        <div class="column is-half-tablet is-half-desktop is-one-third-widescreen is-hidden-touch"></div>
        <div class="column is-half-tablet is-half-desktop is-one-third-widescreen is-hidden-touch"></div>
        <div class="column is-half-tablet is-half-desktop is-one-third-widescreen">
          <div class="dropdown">
            <div class="dropdown-trigger has-radius">
              <button class="button filter" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="has-text-weight-bold is-size-7">Filter</span>
              </button>
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <div class="is-margin-bottom-small">
                    <p class="has-text-weight-bold is-margin-top-small is-size-7">Products</p>
                    <hr class="is-marginless is-margin-bottom-small">   
                    <ul data-filter="solutions" class="lis-no-style"></ul>
                  </div>
                  <div class="is-margin-bottom-small">
                    <p class="has-text-weight-bold is-margin-top-small is-size-7">Roles</p>
                    <hr class="is-marginless is-margin-bottom-small">   
                    <ul data-filter="roles" class="lis-no-style"></ul>
                  </div>
                  <div class="is-margin-bottom-small">
                    <p class="has-text-weight-bold is-margin-top-small is-size-7">Experience Level</p>
                    <hr class="is-marginless is-margin-bottom-small">   
                    <ul data-filter="levels" class="lis-no-style"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-marginless has-background-white is-padded-bottom-big-big-big-big">
    <div class="column is-offset-2 is-8">
        <dx-cards id="course-cards-comp" ID="" headline="Path Title" content="Path Description" footer="Type,Role" uri="URL"
                  left="Previous" right="Next" empty="No results to display"
                  cdn="//cdn.experienceleague.adobe.com" bulma="/assets/css/bulma.min.css"
                  key="use-cases"
                  page="{{a}} of {{b}}"
                  url=""
                  alt="The Image for"
                  upvote="Vote up"
                  downvote="Vote down"
                  bookmark="Bookmark this"
                  copy="Copy launch URL"
                  locale="en">
        </dx-cards>
    </div>
  </div>
</div>