
        <div class="doc-pagination columns is-mobile mt-6 ${(!data.metadata['prev-page'] && !data.metadata['next-page']) ? 'is-hidden' : ''}">
          <div class="column is-left-desktop">
            <a type="button" href="${data.metadata['prev-page'] || ''}" class="spectrum-Button ${data.metadata['prev-page'] ? '' : 'is-disabled'} spectrum-Button--sizeM spectrum-Button--outline spectrum-Button--accent">
              <span class="spectrum-Button-label">Previous page</span>
            </a>
          </div>
          <div class="column is-right-desktop">
            <a type="button" href="${data.metadata['next-page'] || ''}" class="spectrum-Button ${data.metadata['next-page'] ? '' : 'is-disabled'} spectrum-Button--sizeM spectrum-Button--outline spectrum-Button--accent">
              <span class="spectrum-Button-label">Next page</span>
            </a>
          </div>
        </div>