<div id="errors" class="is-flex">
  <div class="columns is-vcentered is-marginless">
    <div class="column is-half is-paddingless is-hidden-tablet">
      <img class="not-found-mobile" src="/assets/img/errors/404-mobile.jpg" alt="Page Not Found">
    </div>
    <div class="column is-offset-1 is-5 has-align-vertical">
      <div class="container">
        <p class="is-margin-bottom-big">Oops!</p>
        <h1 class="is-margin-bottom-big">This page isn't found.</h1>
        <p class="is-margin-bottom-big-big">Let us help you get back on the path.</p>
        <p class="is-size-7 is-uppercase has-text-weight-bold is-margin-bottom-big">Most popular sections</p>
        <ul class="list-no-style">
          <li class="is-margin-bottom-small"><a href="#home">Experience League homepage</a></li>
          <li class="is-margin-bottom-small"><a href="/docs/?lang=en">Documentation</a></li>
          <li class="is-margin-bottom-small"><a href="#courses">Courses</a></li>
          <li class="is-margin-bottom-small"><a href="//www.adobe.com/go/expl-community?profile.language=en">Community</a></li>
        </ul>
      </div>
    </div>
    <div class="column is-6 is-paddingless is-hidden-mobile not-found-desktop">
    </div>
  </div>
</div>
