<div id="feedback" class="is-hidden">
  <section class="hero is-medium header">
    <div class="hero-body">
      <div class="container has-text-left has-text-black">
        <div class="columns is-centered">
          <div class="columns">
            <div class="column is-4">
              <h1 class="title is-size-7 is-uppercase">Adobe Feedback Program</h1>
              <h2 class="subtitle is-size-3 has-text-weight-bold">Your voice matters.</h2>
              <p>As an experience maker, you're the expert. Engage directly with Adobe product development experts where your insights will help shape the future of Adobe.</p>
              <a href="//feedbackprogram.adobe.com/c/r/exleague" target="_blank" class="button is-rounded is-info is-margin-bottom-big is-margin-top-big has-text-weight-bold">Join today</a>
              <p class="is-margin-top-small">Already a member? <a class="has-text-weight-bold has-text-grey" href="//www.feedbackprogram.adobe.com/hub" target="_blank">View the Program</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="columns is-centered is-padded-top-big is-padded-bottom-big is-marginless has-background-white">
    <div class="column is-10 has-text-centered has-border-top-grey has-border-bottom-grey">
      <h2 class="is-size-5 is-margin-top-big has-text-weight-bold">Have a burning idea you want to share now?</h2>
      <p class="is-margin-bottom-small">Post in product communities to get peer and Adobe expert visibility, then get notified as users vote and discuss your suggestion</p>
      <a href="//www.adobe.com/go/expl-community" class="button is-rounded is-outlined is-margin-bottom-big is-margin-top-big has-text-weight-bold is-margin-bottom-big">Go to Community</a>
    </div>
  </div>
  <div class="columns is-padded-top-big-big-big-big is-marginless has-background-white">
    <div class="column is-5 is-offset-1">
      <div class="is-flex is-vcentered has-align-start">
        <h2 class="is-size-3 has-text-weight-bold">More than a suggestion box.</h2>
        <p class="is-margin-bottom-big">The Adobe Feedback Program provides you opportunities to talk about the topics you care most about and help set the vision for Adobe applications. Your insights are discussed with the product managers and engineers who are building Adobe solutions, and you'll receive updates on how your feedback is being integrated.</p>
        <p>We've always valued feedback from you, and the Feedback Program will let us hear from more of you than ever before. </p>
      </div>
    </div>
    <div class="column is-4 is-offset-1">
      <figure class="image">
        <img src="/assets/img/feedback/suggestions.jpg" loading="lazy" alt="More than a suggestion box">
      </figure>
    </div>
  </div>
  <div class="columns is-padded-top-big-big-big-big is-padded-bottom-big-big-big-big is-marginless has-background-white">
    <div class="column is-7 is-offset-1">
      <h2 class="is-size-3 has-text-weight-bold">FAQ</h2>
      <ul class="has-arrow-style">
        <li><span class="has-text-weight-bold">Who can join the Program? Is it only open to upper-level managers?</span><span class="has-hypen">Anyone from any job level can join. We want feedback from all experience levels across every job type. There is also no limit to the number of representatives that can join the Program from each company.</span></li>
        <li><span class="has-text-weight-bold">What types of feedback activities will I be able to participate in?</span><span class="has-hypen">There is a wide variety of feedback activities and topics that you can opt into based on your interests. Feedback activities may include surveys, benchmark studies, concept reviews, usability studies, alpha/beta testing, and in-person/virtual strategy meetings.</span></li>
        <li><span class="has-text-weight-bold">How many invitations will I receive/how much of my time will this consume?</span><span class="has-hypen">It is up to you. Depending on your profile and interests, you may receive 2-3 activities per month.</span></li>
        <li><span class="has-text-weight-bold">What's in it for me?</span><span class="has-hypen">This is your opportunity to help shape the future of the Adobe applications you use every day. You will have direct contact with Adobe experts who want your insights on how to improve our applications.</span></li>
        <li><span class="has-text-weight-bold">How do I register? What happens after registering?</span><span class="has-hypen">Click the 'Register now' button below where you'll be asked to submit your name, email address, and answer a few questions. You will receive a confirmation email immediately. Within 24 hours of confirming, you will receive a welcome email asking you to complete your profile. Once your profile is complete, you will begin receiving invitations to activities based on your interest, experience, and Adobe's feedback needs.</span></li>
      </ul>
    </div>
  </div>
  <div class="columns is-padded-top-big is-padded-bottom-big is-centered is-marginless has-border-top-grey">
    <div class="column is-10 has-text-centered">
      <p class="is-size-5 has-text-weight-bold is-margin-bottom-big">Join today</p>
      <p class="is-margin-bottom-big-big">Interested in participating? Click 'Register now' to get started.</p>
      <a href="//feedbackprogram.adobe.com/c/r/exleague" target="_blank" class="button is-rounded is-outlined has-text-weight-bold">Register now</a>
    </div>
  </div>
  <section class="hero is-medium quote">
    <div class="hero-body">
      <div class="container has-text-left">
        <div class="columns is-centered">
          <div class="column is-7"></div>
          <div class="column is-4">
            <h1 class="title is-size-6 is-quoted" lang="en">I think this is a really cool process, getting the clients involved in seeing what's coming down the pipeline and getting feedback on what works and what doesn't work well.</h1>
            <h2 class="subtitle is-size-7 has-hypen">Campaign Control Program study participant</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="columns is-padded-top-big-big-big-big is-padded-bottom-big-big-big-big is-centered is-marginless">
    <div class="column is-12 has-text-centered">
      <p class="is-size-5 has-text-weight-bold">Have questions? Contact us.</p>
      <a href="mailto:feedbackprogram@adobe.com">feedbackprogram@adobe.com</a>
    </div>
  </div>
</div>
