<div id="footer" class="footer" data-id="footer">
  <div class="container footer-container">
    <div class="is-hidden-touch is-hidden">
      <div class="footer-breadcrumb">
        <a href="/" class="is-margin-right-big" title="Home">
          <figure class="image is-14x14 is-inline-block" data-label="Home">
            <img src="/assets/img/home.svg" loading="lazy" alt="Home">
          </figure>
        </a>
        <a data-id="footer-breadcrumb"></a>
      </div>
    </div>
    
    <div class="footer-menu"><div class="footer-item"><div class="footer-item-list"><h2 id="learn">Learn</h2><ul>
      <li><a href="/home#dashboard/learning">Playlists</a></li>
      <li><a href="/{{lang}}/docs/home-tutorials">Tutorials</a></li>
      <li><a href="/{{lang}}/perspectives">Perspectives</a></li>
      <li><a href="https://learning.adobe.com/">Instructor-led training</a></li>
      <li><a href="/{{lang}}/browse">Browse all learning content</a></li>
    </ul></div></div><div class="footer-item"><div class="footer-item-list"><h2 id="documentation">Documentation</h2><ul>
      <li><a href="/{{lang}}/docs">Documentation home</a></li>
      <li><a href="/{{lang}}/docs/release-notes/experience-cloud/current">Experience Cloud release notes</a></li>
      <li><a href="https://helpx.adobe.com/lt/acrobat/using/whats-new.html">Document Cloud release notes</a></li>
    </ul></div><div class="footer-item-list"><h2 id="certifications">Certifications</h2><ul>
      <li><a href="/{{lang}}/docs/certification/program/overview">Certifications home</a></li>
    </ul></div><div class="footer-item-list"><h2 id="events">Events</h2><ul>
      <li><a href="/events?lang={{lang}}">Events home</a></li>
    </ul></div></div><div class="footer-item"><div class="footer-item-list"><h2 id="community">Community</h2><ul>
      <li><a href="https://experienceleaguecommunities.adobe.com/?profile.language=en">Community home</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=en">Advertising Cloud</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=en">Analytics</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=en">Audience Manager</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=en">Campaign Standard</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=en">Experience Cloud</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=en">Experience Manager</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=en">Experience Platform</a></li>
      <li><a href="https://community.magento.com/">Magento Commerce</a></li>
      <li><a href="https://nation.marketo.com/">Marketo Engage</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=en">Target</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront">Workfront, an Adobe company</a></li>
      <li><a href="/home?lang={{lang}}#feedback">Feedback Panel</a></li>
    </ul></div></div><div class="footer-item"><div class="footer-item-list"><h2 id="support">Support</h2><ul>
      <li><a href="/home?lang={{lang}}#support">Experience Cloud support</a></li>
      <li><a href="https://helpx.adobe.com/support/document-cloud.html">Document Cloud support</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/?profile.language=en">Community forums</a></li>
    </ul></div><div class="footer-item-list"><h2 id="resources">Resources</h2><ul>
      <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
      <li><a href="https://status.adobe.com/">Adobe status</a></li>
    </ul></div><div class="footer-item-list"><h2 id="adobe-account">Adobe Account</h2><ul>
      <li><a href="" class="footer-login-link">Log in to your account</a></li>
      <li><a href="/{{lang}}/profile" auth-only="true" class="footer-link-hidden">Profile</a></li>
      <li><a href="/{{lang}}/profile/bookmarks-and-achievements" auth-only="true" class="footer-link-hidden">Achievements</a></li>
      <li><a href="/{{lang}}/profile/bookmarks-and-achievements" auth-only="true" class="footer-link-hidden">Bookmarked content</a></li>
    </ul></div></div><div class="footer-item"><div class="footer-item-list"><h2 id="adobe">Adobe</h2><ul>
      <li><a href="https://www.adobe.com/about-adobe.html">About</a></li>
      <li><a href="https://www.adobe.com/careers.html">Careers</a></li>
      <li><a href="https://news.adobe.com/home/default.aspx">Newsroom</a></li>
      <li><a href="https://www.adobe.com/corporate-responsibility.html">Corporate responsibility</a></li>
      <li><a href="https://www.adobe.com/investor-relations.html">Investor Relations</a></li>
      <li><a href="https://www.adobe.com/corporate-responsibility/supply-chain.html">Supply chain</a></li>
      <li><a href="https://www.adobe.com/trust.html">Trust Center</a></li>
      <li><a href="https://www.adobe.com/events.html">Events</a></li>
      <li><a href="https://www.adobe.com/diversity.html">Diversity &amp; Inclusion</a></li>
      <li><a href="https://www.adobe.com/about-adobe/integrity.html">Integrity</a></li>
      <li><a href="https://www.adobe.com/covid-19-response.html">COVID-19 Responses</a></li>
    </ul></div></div></div>
    
    <div class="footer-last-row mx-5 px-4">
      <div class="is-flex-desktop has-space-between">
        <div class="has-align-start is-margin-bottom-big is-margin-right-big-big">
          <div data-id="lang" class="dropdown is-up is-hoverable is-inline-block is-margin-bottom-big is-margin-right-big-big">
            <div class="dropdown-trigger is-flex is-vcentered">
              <div class="is-margin-right-small is-inline-block">
                <figure class="image is-24x24">
                  <img src="/assets/img/globegrid.svg" alt="Select Your Language">
                </figure>
              </div>
              <div class="is-size-7 has-no-wrap is-inline-block">Change language</div>
              <figure class="image is-16x16 is-inline-block region">
                <img src="/assets/img/chevron_right.svg" loading="lazy" alt="Change language">
              </figure>
            </div>
            <div data-id="lang-menu" class="bg-white dropdown-menu">
              <div class="dropdown-content">
                <a class="navbar-item" data-value="de">Deutsch</a>
                <a class="navbar-item" data-value="en" selected>English</a>
                <a class="navbar-item" data-value="es">Español</a>
                <a class="navbar-item" data-value="fr">Français</a>
                <a class="navbar-item" data-value="it">Italiano</a>
                <a class="navbar-item" data-value="nl">Nederlands</a>
                <a class="navbar-item" data-value="pt-BR">Português</a>
                <a class="navbar-item" data-value="sv">Svenska</a>
                <a class="navbar-item" data-value="zh-Hans">中文 (简体)</a>
                <a class="navbar-item" data-value="zh-Hant">中文 (繁體)</a>
                <a class="navbar-item" data-value="ja">日本語</a>
                <a class="navbar-item" data-value="ko">한국어</a>
              </div>
            </div>
          </div>
          <div class="level is-mobile social-links is-inline-block">
            <a href="//www.facebook.com/Adobe/" class="level-item is-margin-right-small is-inline-block" target="_blank" title="Facebook">
              <figure class="image">
                <img src="/assets/img/social-icon-facebook.svg" alt="Facebook">
              </figure>
            </a>
            <a href="//twitter.com/Adobe" class="level-item is-margin-right-small is-inline-block" target="_blank" title="Twitter">
              <figure class="image">
                <img src="/assets/img/social-icon-twitter.svg" alt="Twitter">
              </figure>
            </a>
            <a href="//www.linkedin.com/company/adobe" class="level-item is-margin-right-small is-inline-block" target="_blank" title="LinkedIn">
              <figure class="image">
                <img src="/assets/img/social-icon-linkedin.svg" alt="LinkedIn">
              </figure>
            </a>
            <a href="//www.instagram.com/adobe/" class="level-item is-margin-right-small is-inline-block" target="_blank" title="Instagram">
              <figure class="image">
                <img src="/assets/img/social-icon-instagram.svg" alt="Instagram">
              </figure>
            </a>
          </div>
        </div>
        <div class="has-align-end footer-links">
          <div class="is-inline-block">Copyright &copy; {{copyright-year}} Adobe. All Rights Reserved.</div>
          <div class="is-inline-block"><a href="//www.adobe.com/go/marketingcloud_privacy" target="_blank" data-name="footer">Privacy</a></div>
          <div class="is-inline-block"><a href="//www.adobe.com/legal/terms.html" target="_blank" data-name="footer">Terms of Use</a></div>
          <div class="is-inline-block"><a id="openCookieModal" class="onetrust" onclick="adobePrivacy.showConsentPopup();" title="Cookie preferences"></a></div>
          <div class="is-inline-block"><a href="//www.adobe.com/privacy/ca-rights.html" target="_blank" data-name="footer">Do not sell my personal information</a></div>
          <div class="is-inline-block">
            <a href="//www.adobe.com/privacy/opt-out.html#interest-based-ads" target="_blank">
              <figure class="image is-16x16 is-inline-block">
                <img src="/assets/img/adchoices-small.svg" alt="AdChoices">
              </figure>
              AdChoices
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>