<div id="home" class="is-hidden">
  <div data-id="notice" class=""></div>
  <section class="hero is-medium header has-background-white">
    <div class="marquee-graphic-mobile is-hidden-tablet">
      <figure class="image">
        <img src="/assets/img/home/marquee-home-mobile.png" alt="">
      </figure>
    </div>
    <div class="hero-body is-flex">
      <div class="marquee-graphic-background is-hidden-mobile"></div>
      <div class="marquee-graphic is-hidden-mobile"></div>
      <div class="container is-flex has-text-left has-text-blackest">
        <div class="columns">
          <div class="column is-6 is-5-tablet-only">
            <h1 class="title is-size-7 is-uppercase has-text-blackest">Welcome to Experience League</h1>
            <h2 class="subtitle is-size-36 is-size-34-touch is-margin-bottom-small has-text-blackest is-extra-bold">Experience Makers are made here.</h2>
            <p class="is-size-18 has-text-blackest is-margin-bottom-big">Join innovators creating experiences customers love with Adobe enterprise products. Access a vast library of learning content and courses, get personalized recommendations, and connect with a vibrant community of fellow learners.</p>
            <div>
              <a data-id="learn" href="//video.tv.adobe.com/v/334101" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM is-margin-bottom-big">
                <figure class="spectrum-Icon spectrum-Icon--sizeM">
                  <img src="/assets/img/play.svg" loading="lazy" alt="Watch how it works">
                </figure>
                <span class="spectrum-Button-label ">Watch how it works</span>
              </a>
            </div>
            <a data-id="signin" class="has-text-black has-text-weight-bold">Join us and start learning today</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div data-id="promo-container" class="is-hidden">
    <div data-id="promo-slider" class="promo-slider"></div>
    <div class="promo-slider-controls has-text-centered is-hidden">
      <div class="slider-previous tns-nav has-align-vertical">
        <figure class="image is-16x16 is-inline-block" data-label="Previous Slide">
          <img class="nav-chevron" src="/assets/img/chevron_right.svg" alt="Previous Slide">
        </figure>
      </div>
      <div class="slider-next tns-nav has-align-vertical">
        <figure class="image is-16x16 is-inline-block" data-label="Next Slide">
          <img class="nav-chevron" src="/assets/img/chevron_right.svg" alt="Next Slide">
        </figure>
      </div>
    </div>
    <div class="promo-slider-nav is-hidden"></div>
  </div>
  <div class="columns is-multiline is-marginless is-padded-bottom-big-big-big is-padded-top-big-big-big">
    <div class="column is-4 is-offset-2-desktop is-full-touch">
      <figure class="image laptop-graphic">
        <img src="/assets/img/home/home-laptop.png" loading="lazy" alt="Discover your personalized learning course">
      </figure>
    </div>
    <div class="column is-4 is-full-mobile is-10-tablet is-offset-1-tablet is-5-desktop is-offset-0-desktop">
      <div class="is-flex is-vcentered has-align-start is-padded-small">
        <p class="has-text-weight-bold is-size-28 is-size-27-touch is-margin-bottom-big has-text-blackest">Discover your personalized learning course.</p>
        <p class="is-margin-bottom-big has-text-blackest">Get personalized recommendations, curated by Adobe experts, for courses that will help you develop the skills you need to succeed.</p>
        <a href="#dashboard/learning" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM is-hidden" disabled>
          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold">See your recommended learning</span>
        </a>
        <a data-id="authToRecommended" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold">See your recommended learning</span>
        </a>
      </div>
    </div>
  </div>
  <div class="community is-flex is-hidden-touch">
    <div class="community-left-background"></div>
    <div class="community-right-bottom"></div>
    <div class="community-graphic"></div>
    <div class="container is-flex is-padded-top-big-big is-padded-bottom-big-big">
      <div class="columns is-marginless has-text-blackest is-padded-bottom-big-big-big-big is-padded-top-big-big-big-big">
        <div class="column is-6 is-offset-6">
          <div class="is-flex is-vcentered has-align-start is-padded-small">
            <p class="has-text-weight-bold is-margin-bottom-big is-size-28 it-size-27-touch">It takes a community. Lean into the knowledge of thousands of users.</p>
            <p class="is-margin-bottom-big is-quoted has-text-blackest">Community has definitely helped me to understand Adobe products better. It's the place to learn, share, and connect with members of our community about digital innovations.</p>
            <p class="has-text-blackest has-text-weight-bold"><a class="has-text-blackest is-underlined" href="//experienceleaguecommunities.adobe.com/t5/user/viewprofilepage/user-id/1555782" target="_blank">Peter Puzanovs,</a> Community Advisor</p>
            <div class="columns is-multiline is-margin-top-big is-vcentered">
              <div class="column is-full-mobile is-paddingless is-padded-left-big is-padded-right-big">
                <a href="//www.adobe.com/go/expl-community" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
                  <span class="spectrum-Button-label has-no-wrap">Visit Community</span>
                </a>
              </div>
              <div class="column is-padded-left-0">
                <a data-id="learn" href="//video.tv.adobe.com/v/40992" class="spectrum-Button spectrum-Button--primary spectrum-Button--sizeM spectrum-Button--quiet has-text-weight-normal is-borderless">
                  <span class="spectrum-Button-label has-no-wrap"><figure class="image is-16x16 is-margin-right-small is-inline-block"><img src="/assets/img/home/play-circle2.svg" loading="lazy" alt="Watch the video"></figure>Watch the video</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-multiline is-marginless has-background-white is-hidden-desktop community-mobile">
    <div class="column is-paddingless is-full-tablet">
      <figure class="image">
        <img src="/assets/img/home/community-mobile-top.png" loading="lazy" alt="Community experts">
      </figure>
    </div>
    <div class="column is-full-mobile is-10-tablet is-offset-1-tablet">
      <div class="is-flex is-padded-big-touch is-vcentered has-align-start">
        <p class="has-text-weight-bold is-size-27 is-margin-bottom-big has-text-blackest">It takes a community. Lean into the knowledge of thousands of users.</p>
        <p class="is-margin-bottom-big is-quoted has-text-blackest">Community has definitely helped me to understand Adobe products better. It's the place to learn, share, and connect with members of our community about digital innovations.</p>
        <p class="has-text-blackest has-text-weight-bold"><a class="has-text-blackest is-underlined" href="//experienceleaguecommunities.adobe.com/t5/user/viewprofilepage/user-id/1555782" target="_blank">Peter Puzanovs,</a> Community Advisor</p>
        <div class="columns is-multiline is-margin-top-big is-vcentered">
          <div class="column is-full-mobile is-paddingless is-padded-left-big is-padded-right-big">
            <a href="//www.adobe.com/go/expl-community" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
              <span class="spectrum-Button-label has-no-wrap">Visit Community</span>
            </a>
          </div>
          <div class="column is-full-mobile is-padded-left-0">
            <a data-id="learn" href="//video.tv.adobe.com/v/40992" class="spectrum-Button spectrum-Button--primary spectrum-Button--sizeM spectrum-Button--quiet has-text-weight-bold is-borderless">
              <span class="spectrum-Button-label has-no-wrap"><figure class="image is-16x16 is-margin-right-small is-inline-block"><img src="/assets/img/home/play-touch.svg" loading="lazy" alt="Watch the video"></figure>Watch the video</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-paddingless is-full-tablet">
      <figure class="image">
        <img src="/assets/img/home/community-mobile-bottom.png" loading="lazy" alt="Community experts">
      </figure>
    </div>
  </div>
  <div data-id="maker-awards" class="is-hidden"></div>
  <div class="columns is-multiline is-marginless has-background-white has-text-blackest is-padded-bottom-big-big-big-big is-padded-top-big-big-big-big">
    <div class="column is-5 is-full-touch is-hidden-desktop">
      <figure class="image ipad-graphic">
        <img src="/assets/img/home/home-ipad.png" loading="lazy" alt="See Tutorials">
      </figure>
    </div>
    <div class="column is-4 is-full-mobile is-10-tablet is-offset-1-tablet is-4-desktop is-offset-1-desktop">
      <div class="is-flex is-padded-small is-padded-big-touch is-vcentered has-align-start">
        <p class="has-text-weight-bold is-size-28 is-size-27-touch is-margin-bottom-big">See Tutorials</p>
        <p class="is-margin-bottom-big">Get quick how-to information on implementing, using, and maximizing Adobe Experience Cloud solutions.</p>
        <a href="#quick-how-tos" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold">See how-to content</span>
        </a>
      </div>
    </div>
    <div class="column is-5 is-offset-1-desktop is-hidden-touch">
      <figure class="image">
        <img src="/assets/img/home/home-ipad.png" loading="lazy" alt="See Tutorials">
      </figure>
    </div>
  </div>
  <div class="columns is-marginless has-border-top-grey has-border-bottom-grey is-padded-bottom-big-big-big-big is-padded-top-big-big-big-big">
    <div class="column is-4 is-offset-1">
      <div class="is-flex is-vcentered has-align-start is-padded-small">
        <p class="has-text-weight-bold is-size-28 is-size-27-touch has-text-blackest is-margin-bottom-big">Looking for something specific?</p>
        <p class="has-text-blackest">Find what you need in our vast collection of learning content. From documentation and support articles to Adobe Summit keynotes, it's all here.</p>
      </div>
    </div>
    <div class="column is-5 is-offset-1">
      <div class="is-flex is-padded-small is-vcentered has-align-start has-align-end-desktop">
        <a href="#learn" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold">See all learning content</span>
        </a>
      </div>
    </div>
  </div>
  <div class="columns is-marginless has-background-white is-padded-bottom-big-big-big-big is-padded-top-big-big-big-big">
    <div class="column is-10 is-offset-1">
      <div class="columns is-multiline is-marginless">
        <div class="column is-5 is-full-touch is-margin-bottom-big">
          <p class="has-text-weight-bold is-size-36 is-size-34-touch has-text-blackest is-margin-bottom-big is-extra-bold">More from Experience League.</p>
          <p class="has-text-blackest">Whether you're looking for a specific answer, documentation and support resources, or opportunities to connect with peers — you've come to the right place.</p>
        </div>
        <div class="column is-paddingless is-6 is-full-touch is-offset-1-desktop">
          <div class="columns">
            <div class="column">
              <a href="#instructor-led">
                <div class="card has-radius is-flex">
                  <div class="card-content is-flex">
                    <div class="content is-flex">
                      <p class="title is-5 is-margin-top-big has-text-blackest">Instructor-led training</p>
                      <p class="is-margin-bottom-big-big"></p>
                      <div>
                        <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM has-background-white">
                          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="Explore training">Explore training</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column">
              <a href="#support">
                <div class="card has-radius is-flex">
                  <div class="card-content is-flex">
                    <div class="content is-flex">
                      <p class="title is-5 is-margin-top-big has-text-blackest">Troubleshooting tips</p>
                      <p class="is-margin-bottom-big-big"></p>
                      <div>
                        <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM has-background-white">
                          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="Find support">Find support</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <a href="/docs/?lang=en">
                <div class="card has-radius is-flex">
                  <div class="card-content is-flex">
                    <div class="content is-flex">
                      <p class="title is-5 is-margin-top-big has-text-blackest">Documentation</p>
                      <p class="is-margin-bottom-big-big">&nbsp;</p>
                      <div>
                        <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM has-background-white">
                          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View documentation">View documentation</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="column">
              <a href="#feedback">
                <div class="card has-radius is-flex">
                  <div class="card-content is-flex">
                    <div class="content is-flex">
                      <p class="title is-5 is-margin-top-big has-text-blackest">Feedback Program</p>
                      <p class="is-margin-bottom-big-big"></p>
                      <div>
                        <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM has-background-white">
                          <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="Feedback Program">Learn more</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
