<div id="instructor-led" class="is-hidden">
  <div class="header">
    <figure class="image is-hidden-tablet">
      <img src="/assets/img/instructor-led/instructor-led-marquee-mobile.png" loading="lazy" alt="Instructor led training">
    </figure>
    <div class="columns is-vcentered is-marginless">
      <div class="column is-5 is-offset-1 is-offset-1-mobile is-10-mobile">
        <h1 class="is-extra-bold is-size-36 is-size-34-touch has-text-blackest">Instructor-led training.</h1>
        <p class="is-size-18 has-text-blackest">Participate in live, hands-on courses led by Adobe-certified instructors to grow your skills quickly.</p>
      </div>
      <div class="column is-4 is-paddingless is-offset-1-desktop header-graphic-tablet">
        <figure class="image is-hidden-mobile is-hidden-desktop">
          <img src="/assets/img/instructor-led/instructor-led-marquee-mobile.png" loading="lazy" alt="Instructor led training">
        </figure>
      </div>
    </div>
  </div>
  <div class="columns is-multiline is-marginless has-background-white training is-margin-top-big-big-big is-margin-bottom-big-big-big-big">
    <div class="column is-5-desktop is-offset-1-desktop is-full-tablet is-offset-1-mobile is-10-mobile">
      <div class="columns is-narrow is-margin-bottom-big">
        <div class="column thumbnail">
          <a data-id="learn" href="//images-tv.adobe.com/mpcv3/1fbd6977-6bab-4156-9c3e-1cbe0025b3e9_1580840540.854x480at800_h264.mp4" class="is-margin-bottom-big is-margin-top-big is-pulled-left-desktop">
            <figure class="image">
              <img src="/assets/img/instructor-led/instructor-led-video.png" loading="lazy" alt="Training video">
            </figure>
          </a>
          <div class="is-size-13">
            <p class="is-underlined"><strong>Arzoo Bansal</strong></p>
            <p>Consultant, Adobe Campaign Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4-desktop is-offset-1-desktop is-10-tablet is-offset-1-tablet is-offset-1-mobile is-10-mobile">
      <div class="is-vcentered has-align-start has-text-blackest">
        <h2 class="is-size-36 is-size-27-touch has-text-weight-bold is-margin-bottom-small">Three ways to learn from Adobe-certified instructors.</h2>
        <p class="is-margin-bottom-big-big">Fast-track your Adobe Experience Cloud learning with in-depth training from an Adobe-certified instructor.  With three types of classroom learning available, you can choose the experience that best suits you and your organization's needs.</p>
        <div class="is-margin-top-big is-margin-bottom-big">
          <strong class="is-margin-bottom-big is-size-18 is-size-19-touch">Public classrooms.</strong>
          <ul class="list-no-style">
            <li>Learn with professionals like yourself in Adobe-certified, instructor-led public classrooms.  Experience training in-person, at a location that works for you.</li>
          </ul>
        </div>
        <div class="is-margin-top-big is-margin-bottom-big">
          <strong class="is-margin-bottom-big is-size-18 is-size-19-touch">Private onsite training.</strong>
          <ul class="list-no-style">
            <li>If your organization would like a more tailored and dedicated training approach for multiple employees, Adobe-certified instructors can come to you.  Contact us for more information on private onsite training options.</li>
          </ul>
        </div>
        <div class="is-margin-top-big is-margin-bottom-big">
          <strong class="is-margin-bottom-big is-size-18 is-size-19-touch">Online virtual classroom training.</strong>
          <ul class="list-no-style">
            <li>Enjoy the benefits of both public and private instructor-led training from the comfort of your home or office, delivered to you via Adobe's virtual classroom environment.</li>
          </ul>
        </div>
        <div class="is-flex is-vcentered">
          <a href="//learning.adobe.com/catalog.html?trainingMethod=Classroom%20Public,Virtual%20Public" target="_blank" class="is-margin-right-big spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
            <span class="spectrum-Button-label has-ellipsis has-no-wrap has-text-weight-bold" title="View certifications">Explore instructor-led trainings</span>
          </a>
          <a href="//learning.adobe.com/products-resources/contact-us.html?contactType=purchase" target="_blank" class="is-hidden-mobile is-margin-bottom-big is-margin-top-big has-text-weight-bold has-no-wrap">Contact us directly</a>
        </div>
        <div class="is-margin-top-big">
          <a href="//learning.adobe.com/products-resources/contact-us.html?contactType=purchase" target="_blank" class="is-hidden-tablet is-margin-bottom-big is-margin-top-big has-text-weight-bold has-no-wrap">Contact us directly</a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-marginless has-border-top-grey has-border-bottom-grey is-margin-bottom-big-big-big-big promos is-hidden">
    <div class="column is-10 is-offset-1">
      <div class="is-margin-top-big-big-big is-margin-bottom-big-big-big has-text-centered">
        <h3 class="is-6 has-text-weight-bold is-margin-bottom-big">Save on training with three new Spring 2020 offers.</h3>
        <div class="columns is-marginless is-variable is-8">
          <div class="column is-4">
            <p class="is-margin-bottom-small">Free, unlimited Marketo University and Magento U On-demand Training.</p>
            <a href="//learning.adobe.com/digi-tech-learning.html" target="_blank" class="is-inline-block has-text-weight-bold">Learn more</a>
          </div>
          <div class="column is-4">
            <p class="is-margin-bottom-small">Save while learning at home from Adobe-certified experts, now through May.</p>
            <a href="//spark.adobe.com/page/vAC91Y2FORtxc/" target="_blank" class="is-inline-block has-text-weight-bold">View limited-time offers</a>
          </div>
          <div class="column is-4">
            <p class="is-margin-bottom-small">New virtual trainings to extend your Summit experience, now with 15% savings.</p>
            <a href="//learning.adobe.com/americas-virtual-summit-classes" target="_blank" class="is-inline-block has-text-weight-bold">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <figure class="image certification-graphic-touch is-hidden-desktop">
    <img src="/assets/img/instructor-led/certification-mobile.png" loading="lazy" alt="Get certified">
  </figure>
  <div class="go-further columns is-marginless has-background-white is-vcentered">
    <div class="red-blob-left is-hidden-touch"></div>
    <div class="column is-5 is-offset-1 is-margin-top-big-big-big is-offset-1-touch is-10-touch is-margin-top-0-touch">
      <div class="is-vcentered has-align-start">
        <h2 class="is-size-36 is-size-34-touch has-text-blackest is-margin-bottom-small">Go further with Adobe certification.</h2>
        <p class="is-margin-bottom-big-big has-text-blackest">Sharpen your Adobe skills and bring value to your company.  We offer certification programs that can help you take your career to the next level.</p>
        <div class="is-margin-top-big">
          <strong class="has-text-blackest">With an Adobe certification, you can do the following:</strong>
          <ul class="has-text-blackest is-margin-bottom-big">
            <li>Demonstrate your new skills and expertise.</li>
            <li>Set yourself apart from competing job seekers.</li>
            <li>Help your company attract and win new business.</li>
            <li>Gain career recognition from your employer.</li>
          </ul>
        </div>
        <div>
          <a href="//experienceleague.adobe.com/docs/certification/program/overview.html" target="_blank" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
            <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View certifications">View certifications</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
