<div id="learn" class="is-hidden">
  <div class="header">
    <figure class="image is-hidden-tablet">
      <img src="/assets/img/learn/all-learning-marquee-mobile.png" loading="lazy" alt="All learning">
    </figure>
    <div class="columns is-vcentered is-marginless">
      <div class="column is-5 is-offset-1 is-padded-big">
        <h1 class="is-size-36 has-text-blackest is-extra-bold is-margin-bottom-big">Learn your way on Experience League.</h1>
        <p class="has-text-blackest is-size-18">Gain Adobe skills in the way - and at the pace - that works best for you. Learn with Adobe-curated courses, technical documentation, quick answers, community insight, instructor-led training, and more.</p>
      </div>
      <div class="column is-6 is-hidden-mobile">
        <figure class="image">
          <img src="/assets/img/learn/all-learning-marquee-right.png" loading="lazy" alt="All learning">
        </figure>
      </div>
    </div>
  </div>
  <div class="columns is-marginless is-padded-bottom-big-big-big-big" data-id="learn-resources">
    <div class="column is-offset-1 is-10">
      <div class="bluecube-graphic"></div>
      <div class="greenblob-graphic"></div>
      <div class="columns is-multiline is-padded-big">
        <div class="column is-half is-one-quarter-desktop">
          <a href="#dashboard/learning" class="is-hidden" disabled>
            <div class="card has-radius is-flex">
              <div class="card-content is-flex">
                <div class="content is-flex">
                  <div>
                    <p class="is-size-22 is-size-27-touch has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest">Courses</p>
                    <p class="is-margin-bottom-big-big has-text-blackest">Get personalized recommendations or explore our library of courses curated by Adobe experts.</p>
                  </div>
                  <div>
                    <button class="spectrum-Button spectrum-Button--primary spectrum-Button--sizeM">
                      <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View all courses">View all courses</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#courses" data-id="courses">
            <div class="card has-radius is-flex">
              <div class="card-content is-flex">
                <div class="content is-flex">
                  <div>
                    <p class="is-size-22 is-size-27-touch has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest">Courses</p>
                    <p class="is-margin-bottom-big-big has-text-blackest">Get personalized recommendations or explore our library of courses curated by Adobe experts.</p>
                  </div>
                  <div>
                    <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
                      <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View all courses">View all courses</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-half is-one-quarter-desktop">
          <a href="/docs/?lang=en">
            <div class="card has-radius is-flex">
              <div class="card-content is-flex">
                <div class="content is-flex">
                  <div>
                    <p class="is-size-22 is-size-27-touch has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest">Documentation</p>
                    <p class="is-margin-bottom-big-big has-text-blackest">Learn about the use and maintenance of Adobe enterprise solutions with user guides, tutorials, videos, and more.</p>
                  </div>
                  <div>
                    <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
                      <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View documentation">View documentation</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-half is-one-quarter-desktop">
          <a href="#quick-how-tos">
            <div class="card has-radius is-flex">
              <div class="card-content is-flex">
                <div class="content is-flex">
                  <div>
                    <p class="is-size-22 is-size-27-touch has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest">View Tutorials</p>
                    <p class="is-margin-bottom-big-big has-text-blackest">Get quick how-to information on implementing, using and maximizing Adobe solutions.</p>
                  </div>
                  <div>
                    <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
                      <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View how-to info">View how-to info</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-half is-one-quarter-desktop">
          <a href="#instructor-led">
            <div class="card has-radius is-flex">
              <div class="card-content is-flex">
                <div class="content is-flex">
                  <div>
                    <p class="is-size-22 is-size-27-touch has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest">Instructor-led</p>
                    <p class="is-margin-bottom-big-big has-text-blackest">Learn in live courses led by Adobe-certified instructors. Grow your skills quickly with a hands-on approach to learning.</p>
                  </div>
                  <div>
                    <button class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
                      <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View all training">View all training</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div data-id="site-search" class="columns is-marginless has-background-white has-border-top-grey is-margin-top-big-big is-padded-bottom-big-big-big-big is-padded-top-big-big-big-big is-hidden">
    <div class="column is-offset-3 is-6">
      <p class="has-text-weight-bold is-size-5 is-margin-bottom-big">Find exactly what you need to learn.</p>
      <form>
        <input class="input search" type="text" placeholder="What do you want to learn today?">
      </form>
    </div>
  </div>
  <div data-id="promo-container" class="is-hidden"></div>
  <div class="columns is-multiline is-vcentered is-marginless has-background-white is-padded-bottom-big-big-big-big">
    <div class="column is-5-desktop is-full-mobile is-half-tablet is-offset-1-desktop">
      <div class="is-flex is-padded-big is-padded-big-mobile is-vcentered has-align-start">
        <div class="is-flex has-align-start">
          <p class="has-text-weight-bold is-size-36 is-size-27-touch is-margin-bottom-big has-text-blackest">Take the next step with Adobe certification.</p>
          <p class="has-text-blackest">It's time to show what you're made of.  Certifications help you lean new skills and sharpen old ones to set yourself apart in a competitive job market - or keep you up to date for the job you have.</p>
          <div class="has-align-start is-margin-top-big">
            <a href="//experienceleague.adobe.com/docs/certification/program/overview.html" target="_blank" class="spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM">
              <span class="spectrum-Button-label has-no-wrap has-text-weight-bold" title="View certifications">View certifications</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-5-desktop is-full-mobile is-half-tablet certification">
      <div class="photo">
        <div class="photo-credit-side has-text-blackest">
          <a href="//experienceleaguecommunities.adobe.com/t5/user/viewprofilepage/user-id/10666268" target="_blank" class="is-underlined has-text-weight-bold has-text-blackest">Pratheep Arun Raj</a>
          <p>Adobe-certified Master of three solutions and holder of four Expert-level certifications across Experience Cloud.</p>
        </div>
        <div class="photo-credit-bottom has-text-blackest">
          <a href="//experienceleaguecommunities.adobe.com/t5/user/viewprofilepage/user-id/10666268" target="_blank" class="is-underlined has-text-weight-bold has-text-blackest">Pratheep Arun Raj</a>
          <p>Adobe-certified Master of three solutions and holder of four Expert-level certifications across Experience Cloud.</p>
        </div>
      </div>
    </div>
  </div>
</div>
