<div>
  <div class="columns is-marginless recommended-marquees">
    <div class="recommended-marquee-left is-hidden-touch"></div>
    <div class="column is-hidden-tablet">
      <figure class="image">
        <img src="/assets/img/learning/recommended-marquee-right.png" alt="Recommended Courses Marquee">
      </figure>
    </div>
    <div class="column is-offset-1 is-5">
      <section class="hero is-margin-bottom-big-big">
        <div class="hero-body is-padded-left-none">
          <div class="container">
            <h1 class="is-extra-bold is-size-36 is-size-34-touch has-text-blackest">Recommended courses.</h1>
            <h2 class="is-size-18 has-text-weight-normal has-text-blackest">Courses are expertly curated collections of lessons that quickly help you gain skills and knowledge. The following courses are recommended for you based on your profile selections.</h2>
          </div>
        </div>
      </section>
    </div>
    <div class="column is-5 is-padded-right-big-big is-hidden-mobile">
      <div class="recommended-marquee-bg"></div>
    </div>
  </div>
  <div>
    <div class="columns is-marginless is-variable is-4-mobile is-8-tablet">
      <div class="column is-3">
        <div data-id="solutions" class="card">
          <div class="card-content">
            <div class="content">
              <h3 class="title is-5">My learning preferences</h3>
              ${data.menu}
              <div data-id="filters">
                <h4 class="title is-6 is-marginless is-margin-top-big-big is-uppercase">Role</h4>
                <div class="has-underline"></div>
                <div class="toggle level is-mobile">
                  <div class="level-right level-item">My Role</div>
                  <div class="level-item"><a data-id="toggle" data-key="pathFilterRole" class="toggle"><span></span></a></div>
                  <div class="level-left level-item">All Roles</div>
                </div>
                <h4 class="title is-6 is-marginless is-margin-top-big-big is-uppercase">Experience Level</h4>
                <div class="has-underline"></div>
                <div class="toggle level is-mobile">
                  <div class="level-right level-item">My Level</div>
                  <div class="level-item"><a data-id="toggle" data-key="pathFilterLevel" class="toggle"><span></span></a></div>
                  <div class="level-left level-item">All Levels</div>
                </div>
                <div class="is-margin-top-big-big">
                  <a href="#dashboard/profile">Edit my preferences</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-8">
        <div class="is-margin-bottom-big-big">
          <dx-essentials-menu id="essentials-menu-comp" empty="We're currently developing more courses to accommodate a wider variety of selections.  To see everything that's currently available in your areas of interest, adjust the toggles in the preferences section to the left."
                              bulma="/assets/css/bulma.min.css"
                              skills="Choose Your Learning Path"
                              steps="Skills You Will Learn"
                              launch="Start Lesson"
                              unknown="Unknown length"
                              skillstartheadline="Starting Skills"
                              skillstartintro="Select the right path based on the {{solution}} skill you want to learn."
                              skilladvheadline="Advanced Skills"
                              complete="{{a}} of {{b}} completed"
                              surveyprompt="How is your learning going?"
                              surveybutton="Tell us what you think"
                              copyurl="Share"
                              trainingheader="Adobe Digital Learning Services"
                              training="Fast-track your training with an Adobe expert instructor."
                              days="{{value}} Days"
                              view="View Availability"
                              progress="Percent complete"
                              learnheader="What you'll learn:"
                              more="View details"
                              course="Lesson {{value}}"
                              inprogress="In progress"
                              bookmark="Bookmark this"
                              copy="Copy launch URL"
                              videotip="Play video"
          ></dx-essentials-menu>
        </div>
      </div>
    </div>
  </div>
</div>
