<div class="has-text-centered">
  <div class="spectrum-Toast spectrum-Toast--info notification animated is-hidden">
    <figure id="toast-icon" class="spectrum-Icon spectrum-Icon--sizeM spectrum-Toast-typeIcon" focusable="false" aria-hidden="true">
      <img src="/assets/img/spectrum-info-icon.svg" loading="lazy" alt="Info">
    </figure>
    <div class="spectrum-Toast-body">
      <div class="spectrum-Toast-content"></div>
    </div>
    <div class="spectrum-Toast-buttons">
      <button id="dismiss" class="spectrum-ClearButton spectrum-ClearButton--overBackground spectrum-ClearButton--sizeM">
        <div class="spectrum-ClearButton-fill">
          <figure class="spectrum-ClearButton-icon spectrum-Icon spectrum-UIIcon-Cross100 image is-18x18" focusable="false" aria-hidden="true">
            <img src="/assets/img/close_white.svg" loading="lazy" alt="Close">
          </figure>
        </div>
      </button>
    </div>
  </div>
</div>
