<div id="nps" class="is-hidden">
  <dx-nps id="nps-comp"
          surveytitle="Help us improve Experience League"
          surveyquestion="How likely are you to recommend Experience League?" surveylow="Not likely at all"
          surveyhigh="Extremely likely" surveycancel="No Thanks" surveysubmit="Send"
          surveyclarify="Why did you choose this rating?"
          surveyclarifyplaceholder="Type here"
          surveycontact="Adobe may contact me with future questions concerning this feedback"
          submittoast="Thanks! Your feedback helps us improve!"
          submitcontacttoast="Thanks! Your feedback helps us improve! We'll reach out to you if we have questions."
          options="10"
          styles="/assets/css/spectrum.css"></dx-nps>
</div>
