<div>
  <div class="columns is-vcentered is-marginless">
    <div class="column is-5 is-marginless-mobile is-margin-left-big-big-big is-margin-top-big-big">
      <h1 class="is-size-3 is-margin-bottom-small">My Profile</h1>
    </div>
  </div>
  <div class="columns is-marginless is-padded-bottom-big">
    <div class="column is-11 is-marginless-mobile is-margin-left-big-big-big">
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big has-underline is-margin-bottom-0">My learning interests</h2>
        </div>
      </div>
      <h3 class="is-size-6 is-margin-bottom-big-big">Check all of the following that apply.</h3>
      ${data.rendered.interests}
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline is-margin-bottom-0">My role</h2>
        </div>
      </div>
      <h3 class="is-size-6 is-margin-bottom-big">Select all options that apply.</h3>
      <div class="is-margin-bottom-big-big has-overflow-hidden">
        <div class="columns">
          <div class="column">
            <div class="content">
              <ul class="list-no-style">
                ${data.rendered.roles}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline is-margin-bottom-0">My experience level</h2>
        </div>
      </div>
      <div class="is-margin-bottom-big-big has-overflow-hidden">
        <div class="columns">
          <div class="column">
            <div class="content">
              <ul class="list-no-style">
                ${data.rendered.levels}
              </ul>
            </div>
          </div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline is-margin-bottom-0">My industry</h2>
        </div>
      </div>
      <div class="columns">
        ${data.rendered.industries}
      </div>
    </div>
  </div>
  <div id="notification-preferences" class="columns is-marginless is-padded-top-big is-padded-bottom-big-big-big-big">
    <div class="column is-11 is-marginless-mobile is-margin-left-big-big-big">
      <h2 class="title is-5 is-margin-top-big-big has-underline">My notification preferences</h2>
      <div class="content has-text-left">
        <p>
          <label class="checkbox">
            <input data-autosave="true" data-name="emailOptIn" type="checkbox" ${[data.emailOptIn].map(i => i === true ? ' checked' : '').join('')}>
            <span class="is-margin-left-big">Send me Experience League emails about my progress, awards, and recommended learning</span>
          </label>
        </p>
        <p>
          <label class="checkbox">
            <input data-autosave="true" data-name="geo" type="checkbox" ${[data.geo].map(i => i === true ? ' checked' : '').join('')}>
            <span class="is-margin-left-big">Use my location for local event recommendations</span>
          </label>
        </p>
        <p>
          <label class="checkbox">
            <input data-autosave="true" data-name="inProductActivity" type="checkbox" ${[data.inProductActivity].map(i => i === true ? ' checked' : '').join('')}>
            <span class="is-margin-left-big">Connect my in-product activity with Experience League for more personalized learning</span>
          </label>
        </p>
      </div>
    </div>
  </div>
</div>
