<div class="CoveoSearchBoxDropdown">
    <div id="CoveoSearchbox">
      <div class="CoveoAnalytics" data-search-hub="Experience League Learning Hub"></div>
      <div class="CoveoSearchbox spectrum-Textfield" data-enable-omnibox="true" data-enable-query-suggest-addon="true"
        data-placeholder="Search Experience League" data-enable-query-syntax="true" data-trigger-query-on-clear="false" data-enable-wildcards="true">
      </div>
      <button id="dropdownButton" type="button" class="spectrum-Picker spectrum-Picker--sizeM searchResult" aria-haspopup="true">
        <span class="spectrum-Picker-label">All</span>
        <object data="/assets/img/chevron_down.svg" height="20" class="spectrum-PickerButton-UIIcon spectrum-Icon" focusable="false" aria-hidden="true"> </object>
      </button>
      <div class="spectrum-Popover search-dropdown" style="position: absolute; top: 38px; right: 0;">
        <ul class="spectrum-Menu" role="listbox">
          <li class="spectrum-Menu-item coveo-dropdown-item is-selected" data-value="0" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">All</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="1" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Certification</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="2" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Community</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="3" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Courses</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="4" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Documentation</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="5" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Events</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="6" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Perspectives</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="7" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Troubleshooting</span>
          </li>
          <li class="spectrum-Menu-item coveo-dropdown-item" data-value="8" role="option" tabindex="0">
            <object data="/assets/img/checkmark_blue.svg" height="15" class="spectrum-Icon spectrum-Menu-checkmark spectrum-Menu-itemIcon" focusable="false" aria-hidden="true"> </object>
            <span class="spectrum-Menu-itemLabel">Tutorials</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
