<li class="${data.klass}">
  <div class=" border radius-5 has-background-white is-padded-small">
    <div class="is-flex is-vcentered is-justify-content-space-between is-margin-bottom-big resp-flex-wrap">
      <div class="is-flex is-vcentered">
        <span class="support_user_img">
          <img src="/assets/img/support/user-placeholder.svg" alt="Use">
        </span>
        <span class="is-padded-left font-14">${data.comment.createdBy.firstName} ${data.comment.createdBy.lastName ? data.comment.createdBy.lastName : ''}</span>
      </div>
      <span class="font-14">${data.commentDataTime}</span>
    </div>
    <p>${data.description}</p>
  </div>
  <div class="is-margin-top-big ${data.last ? '' : 'is-hidden'}">
    <span class="end-msg is-size-7 is-uppercase">End</span>
  </div>
</li>