<li class="p-4 case-assist-item border-bottom m-0 is-padded-right-big is-padded-left-big is-padded-top-big is-padded-bottom-big" aria-label="${data.title || ''}">
  <h3 class="is-size-7 has-text-weight-bold has-text-grey l-space pb-1 m-0 ">${data.solution || ''}  ${data.type ? '• ' + data.type : ''}</h3>
  <h4 class="is-size-5 has-text-info	mb-2 has-text-weight-bold">
    <a target="_blank" href="${data.clickUri || ''}" data-suggestionId="${data.suggestionId || ''}" data-responseId="${data.responseId || ''}" data-documentUri="${data.clickUri || ''}" data-documentPosition="${data.index || ''}" data-documentUriHash="${data.documentUriHash || ''}">${data.title || ''}</a>
  </h4>
  <p>${data.excerpt || ''}</p>
</li>
