<div class="content p-0 active" id="my-cases">
  <div class="home-wrapper">
    <div class="banner_outer_sec is-padded-top-big-big resp-padding is-padded-bottom-big-big">
      <div>
        <h2 class="title   m-0 has-text-weight-bold cases-head has-text-blackest">All your cases, in one place.</h2>
        <p class="is-size-6 mt-3  has-text-blackest "><!-- Todo fix dummy text --></p>
        <div class="is-flex is-justify-content-space-between	resp-flex-wrap my-case-form	">
          <div class="is-flex w-100 flex-wrap">
            <div class="is-padded-right-big-big  spectrum-Form-item product-case-outer">
              <label class="is-size-7	spectrum-Form-itemLabel spectrum-FieldLabel--left spectrum-FieldLabel sup-head">Products</label>
              <div class="is-relative spectrumpicker-outer-box">
                <div id="support-case-product-picker" class="w-100 is-fullwidth h-100  is-relative spectrumpicker-outer-box">
                  <button class="support-form-productdata spectrum-Picker spectrum-Picker--sizeM adobe-exl-picker" aria-haspopup="listbox" selected-value="">
                    <span class="spectrum-Picker-label is-placeholder adobe-exl-pickerSelectedOption" id="selected-ticket-product">Select a product...</span>
                    <svg class="spectrum-Icon spectrum-UIIcon-ChevronDown100 spectrum-Picker-menuIcon" focusable="false" aria-hidden="true">
                      <use xlink:href="#spectrum-css-icon-Chevron100" />
                    </svg>
                  </button>
                  <div class="w-100 spectrum-Popover spectrum-Popover--bottom spectrum-Picker-popover adobe-exl-pickerOptions">
                    <ul class="spectrum-Menu m-0 supportSidebarOrgPickerListWrap is-marginless" id="option-list" role="listbox"></ul>
                  </div>
                </div>
                <div id="product-filter-loader" class="is-relative spectrumpicker-outer-box is-margin-bottom-big transparent-box is-hidden support-sidebar-orgpicker-wrap">
                  <div class="coveo-result-frame coveo-placeholder-result">
                     <div class="coveo-result-row">
                        <div class="coveo-result-cell">
                           <div class="coveo-result-row">
                              <div class="coveo-result-cell">
                                 <div class="coveo-placeholder-title"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
              </div>
            </div>
            <div class="view-case-outer">
              <label class="is-size-7	spectrum-Form-itemLabel spectrum-FieldLabel--left spectrum-FieldLabel sup-head">View cases</label>
              <div class="is-relative spectrumpicker-outer-box">
                <div id="support-case-view-picker" class="w-100 is-fullwidth h-100  is-relative spectrumpicker-outer-box">
                  <button class="support-form-productdata spectrum-Picker spectrum-Picker--sizeM adobe-exl-picker" aria-haspopup="listbox" selected-value="">
                    <span class="spectrum-Picker-label is-placeholder adobe-exl-pickerSelectedOption">Select a View...</span>
                    <svg class="spectrum-Icon spectrum-UIIcon-ChevronDown100 spectrum-Picker-menuIcon" focusable="false" aria-hidden="true">
                      <use xlink:href="#spectrum-css-icon-Chevron100" />
                    </svg>
                  </button>
                  <div class="w-100 spectrum-Popover spectrum-Popover--bottom spectrum-Picker-popover adobe-exl-pickerOptions">
                    <ul class="spectrum-Menu m-0 supportSidebarOrgPickerListWrap is-marginless" role="listbox"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" resp-pd-left-0 search-outer">
            <label class="is-size-7	 spectrum-Form-itemLabel spectrum-FieldLabel--left spectrum-FieldLabel sup-head">Search</label>
            <input id="search-case-input" type="text" class="input" placeholder="Search in cases" />
          </div>
        </div>
      </div>
    </div>
    <!-- case table section-->
    <div class="table-container">
      <table class="spectrum-Table spectrum-Table--sizeM spectrum-Table--spacious cases-table resp-padding">
        <thead id="my-case-table-head" class="spectrum-Table-head">
          <th id="col-case-number" class="is-size-7 light-grey	 spectrum-Table-headCell is-sortable" aria-sort="none" tabindex="0" data-sortKey="caseId">
            <span class="is-uppercase">Case Number</span>
            <svg class="spectrum-Icon spectrum-UIIcon-ArrowDown100 spectrum-Table-sortedIcon" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-Arrow100" />
            </svg>
          </th>
          <th id="col-case-subject" class="is-size-7 light-grey	 spectrum-Table-headCell is-sortable" aria-sort="none" data-sortKey="title">
            <span class="is-uppercase">Subject / Additional Information</span>
            <svg class="spectrum-Icon spectrum-UIIcon-ArrowDown100 spectrum-Table-sortedIcon" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-Arrow100" />
            </svg>
          </th>
          <th id="col-case-status" class="is-size-7 light-grey	spectrum-Table-headCell is-sortable" aria-sort="none" data-sortKey="statusText">
            <span class="is-uppercase">Status</span>
            <svg class="spectrum-Icon spectrum-UIIcon-ArrowDown100 spectrum-Table-sortedIcon" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-Arrow100" />
            </svg>
          </th>
          <th id="col-case-product" class="is-size-7 light-grey	spectrum-Table-headCell">
            <span class="">Product</span>
          </th>
          <th id="col-case-date" class="is-size-7 light-grey	spectrum-Table-headCell is-sortable" aria-sort="none" data-sortKey="caseDate">
            <span>Opened / Closed</span>
            <svg class="spectrum-Icon spectrum-UIIcon-ArrowDown100 spectrum-Table-sortedIcon" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-Arrow100" />
            </svg>
          </th>
          <th id="col-case-feedback" class="is-size-7 light-grey spectrum-Table-headCell is-sortable is-hidden" aria-sort="none" data-sortKey="caseDate">
            <span>FEEDBACK</span>
            <svg class="spectrum-Icon spectrum-UIIcon-ArrowDown100 spectrum-Table-sortedIcon" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-Arrow100" />
            </svg>
          </th>
          </tr>
        </thead>
        <tbody id="my-case-table-body" class="spectrum-Table-body"></tbody>
      </table>
    </div>
    <div class="is-flex is-vcentered is-justify-content-space-between pagination-outer resp-padding is-hidden" id="resultsPerPage">
      <div class="resultsPerPage is-flex is-vcentered" aria-hidden="false">
        <span id="results-per-page-label" class="results-per-page-text dark-grey has-text-weight-bold font-14 ">Results per page:</span>
        <ul class="results-per-page-list is-marginless" role="radiogroup">
          <li class="results-per-page-list-item accessible-button" role="radio" tabindex="0" data-perPage="10" aria-checked="true" aria-label="Display 10 results per page">
            <a class=" results-per-page-list-item-text" tabindex="-1" aria-hidden="true">10</a>
          </li>
          <li class="results-per-page-list-item accessible-button" role="radio" tabindex="0" aria-checked="false" data-perPage="25" aria-label="Display 25 results per page">
            <a class="results-per-page-list-item-text" tabindex="-1" aria-hidden="true">25</a>
          </li>
          <li class="results-per-page-list-item accessible-button" role="radio" tabindex="0" aria-checked="false" data-perPage="50" aria-label="Display 50 results per page">
            <a class="results-per-page-list-item-text" tabindex="-1" aria-hidden="true">50</a>
          </li>
          <li class="results-per-page-list-item accessible-button" role="radio" tabindex="0" aria-checked="false" data-perPage="100" aria-label="Display 100 results per page">
            <a class="results-per-page-list-item-text" tabindex="-1" aria-hidden="true">100</a>
          </li>
        </ul>
      </div>
      <div class="case-pagination-controller" id="case-list-pagination"></div>
    </div>
  </div>
</div>