<div class="content p-0 active m-0" id="support-ultimate-Success-inner-circle">
   <div class="pl-12 is-relative overlay-resp">
      <div class="banner-ultimate-success">
         <div class="column is-9 utlimate-top-banner-success">
            <h1 class="has-text-weight-bold has-text-white mb-0 ultimtae-success-head">
               Ultimate Success
            </h1>
            <h2 class="font-18 mt-0 mb-5 has-text-white ultimate-success-subhead">
               Inner Circle
            </h2>
            <p class="ultimate-success-para has-text-white pb-3">
               An exclusive Ultimate Success community offering special resources and
               events to maximize your Adobe investment.
            </p>
         </div>
      </div>
   </div>
   <div class="home-wrapper home-wrapper-ultimate-success has-text-black is-size-6 pt-5 pl-12 pr-0">
      <div class="resp-padding pt-5" id="support-home-cards">
         <h1 class="has-text-weight-semi-bold is-size-3 mb-4">
            Hey ${data.username}, Welcome to Inner Circle!
         </h1>
         <p class="ulimate-success-info">
            Stay informed about exclusive events designed to enhance your knowledge
            on industry trends, success tips and best practices. Check back
            frequently to discover and sign up for opportunities like Leaders and
            Learners, Master Roundtable and Solution Skill-Up.
         </p>
         <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img id="playButtonInner_Circle" class="play_button_ultimate play_inner_circle" src="/assets/img/support/Play_Button.png" alt="Play Button" data-video="videoElement">
                <video id="unveiling_inner_video" width="800" height="600">
                  <source src="/assets/img/support/UnveilingInnerCircle.mp4" type="video/mp4">
                </video>
            </div>
        </div>        
         <div class="ultimate-success-button ">
            <button id="ultimate-success-overview" class="button is-rounded has-text-white ultimate-success-button-blue" data-toggle="modal"
                  data-src="https://f.io/Fbd4dvjY" data-target="#myModal">
               <img  src="/assets/img/support/play-16.png" alt="arrow">
               <span class="spectrum-Button-label pl-1">Watch Overview</span>
            </button>
         </div>
      </div>

      <div class="pt-5">
         <h6 class="mb-5 pb-5 mt-5 is-size-3 success-card-title">
            <span class="is-text-weight-bold has-text-black">Upcoming - </span>
            <span class="success-card-title-span has-text-black">Ultimate Success Inner Circle Events
            </span>
         </h6>

         <div class="columns is-multiline is-flex  mb-4" id="ultimate-inner-circle-cards">
         </div>
         
      </div>
   </div>
</div>