<nav class="spectrum-Pagination spectrum-Pagination--listing">
  <a class="spectrum-Button spectrum-Button--sizeM spectrum-Button--outline spectrum-Button--primary spectrum-Pagination-prevButton page-btn ${data.first ? 'is-hidden' : ''}" data-pageNumber="pre">
    <span class="spectrum-Button-label">Prev</span>
  </a>
  ${data.items}
  <a class="spectrum-Button spectrum-Button--sizeM spectrum-Button--outline spectrum-Button--primary spectrum-Pagination-nextButton page-btn ${data.last ? 'is-hidden' : ''}" data-pageNumber="next">
    <span class="spectrum-Button-label">Next</span>
  </a>
</nav>
