<div class="content p-0 active m-0 " id="support-home">
   <!-- Start Banner Section -->
   <div class="pl-12 is-relative banner_outer_sec overlay-resp is-padded-bottom-big-big-big can_help">
      <div class="banner_sec_support is-padded-top-big-big is-padded-left-0">
         <h1 class="title m-0 has-text-weight-bold is-margin-bottom-small">How can we help?</h1>
         <h2 class="font-18 has-text-weight-normal m-0 ">Search for help and support here.</h2>
         <div class="field is-margin-top-big is-margin-bottom-big">
            <div class="CoveoSearchBar">
               <div class="CoveoAnalytics" data-search-hub="Experience League Community Hub"></div>
               <div class="columns is-marginless is-mobile is-flex has-align-start">
                  <div class="column is-paddingless">
                     <div id="CoveoSearchBox">
                        <div class="CoveoSearchbox-responsive columns is-mobile is-marginless is-flex">
                           <div class="CoveoSearchbox column is-paddingless is-marginless" data-enable-omnibox="true"
                              data-enable-query-suggest-addon="true" data-placeholder="Find answers and resources...">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="is-margin-bottom-big-big is-hidden">
               <div class="field">
                  <p class="control has-icons-left">
                     <input id="support-search" type="search" class="input search"
                        placeholder="How can we help you today?" />
                     <span class="icon is-small is-left">
                        <img src="/assets/img/search_grey.svg" loading="lazy" alt="Search">
                     </span>
                  </p>
               </div>
            </div>
         </div>
         <p id="support-home-signinmessage">
            <button data-id="signin"
               class="support-home-signincardbtn spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
               <span class="spectrum-Button-label">Please sign in for a personalized experience to open and manage your
                  Support cases.</span>
            </button>
         </p>
      </div>
   </div>
   <!-- End Banner Section -->
   <div class="home-wrapper">
      <!-- Start Cards Section -->
      <div class="is-padded-bottom-big-big-big is-padded-top-big  resp-padding " id="support-home-cards">
         <div class="columns is-multiline">
            <div class="column is-6">
               <div
                  class=" is-relative cards-inner is-padded-bottom-big-big radius-5 support_ticket is-padded-top-big-big-big has-background-white hoverbox">
                  <img src="/assets/img/support/open-support-ticket-banner.svg" alt="Open a support ticket" />
                  <div class="is-padded-left-big-big is-padded-right-big-big">
                     <h2 class="is-margin-bottom-big has-text-blackest is-size-4 has-text-weight-bold ">Open a support
                        ticket.</h2>
                     <p class=" is-size-6 is-margin-bottom-big has-text-blackest  is-padded-bottom-big-big word-break">
                        Walk through a personalized case submission and be connected with one of Adobe’s solution
                        experts to address your issue.</p>
                     <button data-id="signin"
                        class="support-home-signincardbtn spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
                        <span class="spectrum-Button-label">Sign In</span>
                     </button>
                     <a class="support-home-signincardCta is-hidden px-3 spectrum-Button spectrum-Button--primary spectrum-Button--sizeM is-padded-left-big is-padded-right-big "
                        data-id="GetStarted">
                        <span class="spectrum-Button-label has-no-wrap">Get started</span>
                     </a>
                  </div>
               </div>
            </div>
            <div class="column is-6 ">
               <div
                  class="is-relative cards-inner is-padded-bottom-big-big radius-5 support_ticket is-padded-top-big-big-big view_cases  has-background-white	hoverbox">
                  <div class="is-padded-left-big-big is-padded-right-big-big">
                     <h2 class="is-margin-bottom-big has-text-blackest is-size-4 has-text-weight-bold">View and manage
                        your cases.</h2>
                     <p class=" is-size-6 is-margin-bottom-big has-text-blackest is-padded-bottom-big-big word-break">
                        Search, filter and sort for all your Support tickets across all of your Adobe Experience Cloud
                        solutions.</p>
                     <button data-id="signin"
                        class="support-home-signincardbtn  spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
                        <span class="spectrum-Button-label">Sign In</span>
                     </button>
                     <a class="support-home-signincardCta is-hidden px-3 spectrum-Button spectrum-Button--primary spectrum-Button--sizeM is-padded-left-big is-padded-right-big "
                        data-id="GetNow">
                        <span class="spectrum-Button-label has-no-wrap">Go now</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Cards Section -->
      <!-- Start Article section-->
      <div class=" resp-padding ">
         <div data-id="support-featured" class="is-margin-bottom-big support_slider relative">
            <h2 class="light-black has-text-weight-bold is-size-4  is-padded-bottom-big is-margin-bottom-0 lh-30">Top
               support articles.</h2>
            <div id="top-articals-wrapper">
               <div id="top-articals" class="CoveoRecommendation">
                  <div class="CoveoAnalytics"></div>
                  <div class="CoveoResultList" data-layout="card" data-wait-animation="fade"
                     data-auto-select-fields-to-include="true">
                     <!-- Result Template: Default_Recommendation -->
                     <script id="Default_Recommendation" class="result-template" type="text/html" data-layout="card">
                        <div class="coveo-result-frame articles-inner has-background-white">
                           <div style="min-height: 40px;">
                              <h3 class="add l-space  m-0 ">
                                 <span class="CoveoFieldValue" data-field="@source" data-helper="source"></span> •
                                 <span class="CoveoFieldValue" data-field="@type" data-helper="type"></span>
                              </h3>
                           </div>
                           <h4 class="has-text-info	mb-2 has-text-weight-bold">
                              <a target="_blank" class="CoveoResultLink"></a>
                           </h4>
                           <p class="has-text-grey	mb-6 CoveoExcerpt "></p>
                           <div class="article_bottom_sec is-padded-top-big">
                              <!-- TODO ADD LIKE COUNT -->
                              <!-- <span class="has-text-grey is-size-7	 pb-3 is-flex is-vcentered">
                                 <img src="/assets/img/support/Likebutton.svg" class="mr-sm">
                                 <span class="CoveoFieldValue" data-field="@rating" data-helper="rating"></span>
                              </span> -->
                              <span class="is-flex is-padded-top-big  columns is-vcentered justify-content-between border-top flex-wrap test">
                                 <span class="is-size-7	mr-2 "><span>Updated:</span> <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span></span>
                                 <a class=" CoveoResultLink spectrum-Button spectrum-Button--primary spectrum-Button--sizeM px-2" target="_blank" data-field="@ClickUri" data-helper="ClickUri">Read the article</a>
                              </span>
                           </div>
                        </div>
                     </script>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Article section-->
      <!-- Start Need sec-->
      <div class="resp-padding is-padded-top-big-big-big is-margin-top-big-big">
         <div class="main-need-sec    border radius-5 has-background-white is-relative  hoverbox is-margin-bottom-big">
            <img src="/assets/img/support/support-need-banner.svg" alt="Support when you need it" />
            <div class="is-padded-bottom-big-big is-padded-top-big-big">
               <div class="container">
                  <div class="columns">
                     <div class="is-6 column is-margin-left-big-big-big-big-big has-background-white">
                        <h2 class="font-10  sup-head is-margin-bottom-small is-uppercase">Success Plans</h2>
                        <h3
                           class="has-text-weight-bold is-size-4	 is-margin-bottom-big light-black is-marginless is-padded-top-small is-padded-bottom-big">
                           Support when you need it.</h3>
                        <p class="is-padded-bottom-big m-0 is-marginless has-text-black word-break">Your Ultimate
                           Success Team helps you achieve value with strategic guidance and technical expertise. Receive
                           support from a team of experts familiar with your business and focused on executing a roadmap
                           aligned with your objectives and priorities for business impact.</p>
                        <a id="premium-home-learn-more"
                           href="https://experienceleague.adobe.com/docs/support-resources/data-sheets/overview.html"
                           target="_blank"
                           class="spectrum-Button spectrum-Button--primary spectrum-Button--sizeM  is-padded-left-big is-padded-right-big">Learn
                           more</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Need sec-->
      <!-- Start Learning Resources-->
      <div class="resp-padding is-padded-bottom-big-big-big is-padded-top-big-big-big   ">
         <h2 class="has-text-weight-bold is-size-4 is-margin-bottom-big light-black">Additional learning resources.</h2>
         <div class="columns is-multiline ">
            <div class="column is-4-desktop is-6-tablet ">
               <a href="https://experienceleague.adobe.com/?lang=en#learn" target="_blank" title="Experience League"
                  class="support_learning_inner_sec border columns  has-background-white hoverbox">
                  <div class="supprot_learning_image_sec is-3-tablet column p-0">
                     <img src="/assets/img/support/ad-resources-3.png" alt="Learning Resources" />
                  </div>
                  <div class="support_learning_descp_sec is-9-tablet column">
                     <h3 class="head-sm word-break">Experience League</h3>
                     <h4
                        class="is-size-6 is-marginless has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest word-break">
                        Develop your skills with personalized learning in Adobe Experience League.</h4>
                  </div>
               </a>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
               <a href="https://experienceleaguecommunities.adobe.com/?profile.language=en" target="_blank"
                  title="Experience League Community"
                  class="support_learning_inner_sec border columns  has-background-white hoverbox">
                  <div class="supprot_learning_image_sec is-3-tablet column p-0">
                     <img src="/assets/img/support/ad-resources-2.png" alt="Learning Resources" />
                  </div>
                  <div class="support_learning_descp_sec is-9-tablet column">
                     <h3 class="head-sm word-break">Experience League Community</h3>
                     <h4
                        class="is-size-6 is-marginless has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest word-break">
                        Ask your peers about various Experience Cloud questions and solutions.</h4>
                  </div>
               </a>
            </div>
            <div class="column is-4-desktop is-6-tablet">
               <a href="https://experienceleague.adobe.com/?lang=en#instructor-led" target="_blank"
                  title="Learning Services"
                  class="support_learning_inner_sec border columns  has-background-white hoverbox">
                  <div class="supprot_learning_image_sec is-3-tablet column p-0">
                     <img src="/assets/img/support/ad-resources.svg" alt="Learning Resources" />
                  </div>
                  <div class="support_learning_descp_sec is-9-tablet column">
                     <h3 class="head-sm word-break">Learning Services</h3>
                     <h4
                        class="is-size-6 is-marginless has-text-weight-bold is-margin-top-big is-margin-bottom-small has-text-blackest word-break">
                        In-depth training through in-person and virtual instructor-led training.</h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <!-- End Learning Resources-->
      <!-- Start Additional help-->
      <div class=" resp-padding is-padded-bottom-big-big-big is-padded-top-big is-padded-right-big-big ">
         <h2 class="has-text-weight-bold is-size-4 is-margin-bottom-big light-black ">Looking for these?</h2>
         <p class="has-text-black word-break">Find additional help through these Adobe support communities</p>
         <div class="columns is-multiline left-right-space">
            <!--<div class="column is-4-desktop is-6-tablet ">
               <div class="community-inner-sec sm-padded border columns  has-background-white hoverbox is-vcentered radius-5  remove-txt-hover">
                  <div class=" is-2-tablet column p-0">
                     <img src="/assets/img/support/community-logo.svg" alt="Learning Resources" class="is-flex comlogo  radius-5" />
                  </div>
                  <div class=" is-10-tablet column p-0">
                     <div class=" is-flex flex-direction-row is-justify-content-space-between is-vcentered ">
                        <a href="https://one.workfront.com/s/" target="_blank" title="Visit Workfront One">
                           <h4 class="font-14  is-marginless	is-margin-top-big is-margin-bottom-small light-black">Visit Workfront One</h4>
                        </a>
                        <a href="https://one.workfront.com/s/" target="_blank" title="Visit Workfront One">
                           <img src="/assets/img/support/community-link.svg" alt="Link" class="is-flex community-link-img" />
                        </a>
                     </div>
                  </div>
               </div>
            </div>-->
            <div class=" column is-4-desktop is-6-tablet is-12-mobile">
               <div
                  class="community-inner-sec sm-padded  border columns  has-background-white hoverbox is-vcentered radius-5  remove-txt-hover">
                  <div class=" is-2-tablet column p-0">
                     <img src="/assets/img/support/community-logo.svg" alt="Learning Resources"
                        class="is-flex comlogo radius-5" />
                  </div>
                  <div class=" is-10-tablet column p-0">
                     <div class=" is-flex flex-direction-row is-justify-content-space-between is-vcentered ">
                        <a href="https://nation.marketo.com/" target="_blank" title="Visit Marketing Nation">
                           <h4 class="font-14 is-marginless	is-margin-top-big is-margin-bottom-small light-black ">Visit
                              Marketing Nation</h4>
                        </a>
                        <a href="https://nation.marketo.com/" target="_blank" title="Visit Marketing Nation">
                           <img src="/assets/img/support/community-link.svg" alt="Link"
                              class="is-flex community-link-img" />
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Additional help-->
      <!-- Start Here to  help-->
      <div class="resp-padding" id="support-home-heretohelp">
         <div
            class="has-text-centered	is-padded-top-big-big-big-big is-padded-bottom-big-big-big-big support_help_sec is-relative has-background-white hoverbox">
            <h2 class="is-size-2-desktop is-size-3-tablet	 has-text-weight-bold  is-margin-bottom-big">We are here to
               help.</h2>
            <p class="is-size-6 mb-5">Sign into Adobe Experience League and find your answers.</p>
            <button data-id="signin"
               class="white-txt support-home-signincardbtn spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
               <span class="spectrum-Button-label">Sign In</span>
            </button>
         </div>
      </div>
      <!-- End Here to  help-->
   </div>
</div>



<!-- Ultimate Support Page  -->

<div class="content p-0 is-hidden m-0 " id="support-ultimate-home">
   <!-- Start Banner Section -->
   <div class="pl-12 is-relative banner_outer_sec overlay-resp  ">
      <div class="banner_sec-ultimate_support ">
         <div class="columns is-mulitple">
            <div class="column is-9 pl-5 pt-5 mt-6 utlimate-top-banner">
               <h1 class=" banner-ultimate-headline has-text-white mb-0">Hey, ${data.username}. How
                  can we help?
               </h1>
               <h2 class=" banner-ultimate-subline mt-2  has-text-white">Search for help and support
                  here.
               </h2>
               <div class="field ">
                  <div>
                     <div class="field ">
                        <p class="control has-icons-left pr-5">
                           <input id="support-search" type="search" class="input search-ultimate mt-5 pr"
                              placeholder="Search">
                           <!-- <span class="icon is-small is-left mt-5">
                              <img src="/assets/img/search_grey.svg" loading="lazy" alt="Search">
                           </span> -->
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column is-3 utlimate-top-banner-image">
               <img src="/assets/img/support/Main_Banner.png" loading="lazy" alt="Search">
            </div>
         </div>
      </div>
   </div>
   <!-- End Banner Section -->

   <div class="home-wrapper has-text-black is-size-6 pt-5 pl-0">
      <h2 class="ultimate-first-heading mb-5 mt-5">Your Ultimate Adobe Support team. </h2>
      <div class="columns is-multiline" id="support-home-person-cards">
      </div>


      <!-- Start Cards Section -->
      <div class="resp-padding  pt-5" id="support-home-cards">
         <div class="columns is-multiline" >
            <div class="column is-4 is-borderless pl-0 pr-0">
               <div class="  is-borderless  has-background-white support-card">
                  <div class="p-4 ">
                     <h2 class="  has-text-weight-bold mb-4 support-card-heading">Open a support
                        ticket.</h2>
                     <p class="is-size-6 pb-3 card-para has-text-blackest word-break support-card-parag mr-5">Walk
                        through a personalized case submission and be connected with one of Adobe’s solution experts to address your issue.
                     </p>
                     <button data-id="signin"
                        class="support-home-signincardbtn spectrum-Button-utlimate has-text-grey-dark spectrum-Button spectrum-Button--sizeM">
                        <span class="spectrum-Button-label">Get Started</span>
                     </button>
                     <a class="support-home-signincardCta is-hidden px-3 spectrum-Button spectrum-Button--primary spectrum-Button--sizeM is-padded-left-big is-padded-right-big "
                        data-id="GetStarted">
                        <span class="spectrum-Button-label has-no-wrap">Get started</span>
                     </a>
                  </div>
               </div>
            </div>
            <div class="column is-4 is-borderless pl-0 pr-0">
               <div class="  is-borderless  has-background-white support-card">
                  <div class="p-4 ">
                     <h2 class="  has-text-weight-bold mb-4 support-card-heading">View and manage your
                        cases.</h2>
                     <p class="is-size-6 pb-3 card-para has-text-blackest word-break support-card-parag mr-5">Search, filter and sort for all Support tickets across all of your Adobe Experience Cloud solutions.
                     </p>
                     <button data-id="signin"
                        class="support-home-signincardbtn spectrum-Button-utlimate has-text-grey-dark spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
                        <span class="spectrum-Button-label">Go now</span>
                     </button>
                     <a class="support-home-signincardCta is-hidden px-3 spectrum-Button spectrum-Button--primary spectrum-Button--sizeM is-padded-left-big is-padded-right-big "
                        data-id="GetNow">
                        <span class="spectrum-Button-label has-no-wrap">Go now</span>
                     </a>
                  </div>
               </div>
            </div>
            <div class="column is-4 is-borderless pl-0 pr-0 support-card-image">
               <div class=" is-borderless has-background-white	support-card">
                  <div class="p-4 support-card-image-innersection" >
                     <img class="image-ultimate_cards" src="/assets/img/support/UI_1.png" alt="Play Button">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Ultimate Success Section -->
      <div class="open-support-ticket">
         <div class="columns is-multiline">
            <div class="column is-12-mobile is-9-desktop pl-5 ultimate-success ml-5 pl-4 pt-5 pb-5">
               <h1 class="has-text-black mb-0 is-size-2">Ultimate Success</h1>
               <h3 class="has-text-black mt-0 has-text-weight-normal mb-3 open-support-para">Inner Circle</h3>
               <p class="is-size-5 has-text-grey-dark">An exclusive Ultimate Success community offering special resources and events to
                  maximize your
                  Adobe investment.
               </p>
               <div class="ultimate-success-button">
                  <a class="support-home-signincardCta px-3 spectrum-Button spectrum-Button--primary spectrum-Button--sizeM is-padded-left-big is-padded-right-big" data-id="ultimatePage">
                     <span class="spectrum-Button-label has-no-wrap">Get started</span>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <!-- video section -->
      <div class="ultimate-support-video-section has-text-black">
         <div class="ultimate-support-video-desc">
             <h1 class="mb-3 ulimate-video-head">Welcome to Adobe Ultimate Success
            </h1>
             <p class="pb-5 ulimate-video-para">As an Ultimate Success customer, you are our first priority. Together, your Technical Account Manager, Customer Success Manager, and Support Service Manager will work seamlessly along with our global team of engineers to help you maximize your technology performance and realize the potential of your investment. </p>
         </div>
     
         <div class="video-section">
            <div class="video-section_thumbnail">
                <img id="playButton" class="play_button_ultimate" src="/assets/img/support/Play_Button.png" alt="Play Button" data-video="videoElement">
                <video id="videoElement" class="ultimate-video-section" width="849" height="477.56" poster="/assets/img/support/Group 177285.png">
                    <source src="https://landing.adobe.com/content/dam/landing/ags/video/Ultimate_Support_Onboarding_Video_Sec-4_V2_13_03_2024.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <span class="is-size-7">1:33 MIN</span>
            <div>
                <h6 class="has-text-black mt-1 mb-6 video-desc has-text-weight-bold">Overview of Ultimate Support offering & assigned resources.</h6>
            </div>
        </div>
        
        <div class="columns is-marginless video-section-columns">
            <div class="column is-paddingless">
                <div class="card card-small-videos">
                    <div class="card-content card-content-video-section is-paddingless">
                        <img id="playButton1" class="play_button_ultimate_cards" src="/assets/img/support/Play_Button.png" alt="Play Button" data-video="videoElement1">
                        <video id="videoElement1" class="ultimate-video-section" width="267" height="150" poster="/assets/img/support/Video-Placeholder-2.png">
                            <source src="https://landing.adobe.com/content/dam/landing/ags/video/Ultimate_Success_Onboarding_Video_Sec-3_13-03-2024.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="has-text-black is-size-7">
                            <span class="is-size-7">3:24 MIN</span>
                            <p class="small-video-section mt-1 has-text-weight-bold">Different Adds-Ons for Ultimate Support, brief overview of each Add-on and how they can request the Add-on purchased.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-paddingless">
                <div class="card card-small-videos">
                    <div class="card-content card-content-video-section is-paddingless">
                        <img id="playButton2" class="play_button_ultimate_cards" src="/assets/img/support/Play_Button.png" alt="Play Button" data-video="videoElement2">
                        <video id="videoElement2" class="ultimate-video-section" width="267" height="150" poster="/assets/img/support/Video-Placeholder-3.png">
                            <source src="https://landing.adobe.com/content/dam/landing/ags/video/Ultimate_Success_Onboarding_Video_Sec-1_13-03-2024.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="has-text-black is-size-7">
                            <span class="is-size-7">3:24 MIN</span>
                            <p class="small-video-section mt-1 has-text-weight-bold">How to contact the assigned resources, engagement model, cadence frequency</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-paddingless">
                <div class="card card-small-videos">
                    <div class="card-content card-content-video-section is-paddingless">
                        <img id="playButton3" class="play_button_ultimate_cards" src="/assets/img/support/Play_Button.png" alt="Play Button" data-video="videoElement3">
                        <video id="videoElement3" class="ultimate-video-section" width="267" height="150" poster="/assets/img/support/Video-Placeholder-4.png">
                            <source src="https://landing.adobe.com/content/dam/landing/ags/video/Ultimate_Success_Onboarding_Video_Sec-2_13-03-2024.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="has-text-black is-size-7">
                            <span class="is-size-7">1:53 MIN</span>
                            <p class="small-video-section mt-1 has-text-weight-bold">What are the different support channels available? How to use each channel (step-by-step).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
     

      <!-- Support needed section  -->
      <div class="support-you-need-it mb-5 ">
         <div class="columns is-multiline mb-5 support-need-columns">
            <div class="column is-12-mobile is-3-tablet has-background-transparent support-needed">
               <!-- <img class="play_button_ultimate_cards" src="/assets/img/support/support.png" alt="Play Button"> -->
            </div>
            <div class="column is-12-mobile mt-1 is-9-tablet has-background-transparent support-needed-content">
               <p class="support-plans-head mb-2 ">SUPPORT PLANS</p>
               <h1 class="mb-4 has-text-weight-bold support-plans-heading">Support when you need it.</h1>
               <p class="support-plans-desc has-text-black">Adobe Experience Cloud Customer Suppport organization is committed to your success. All subscriptions include a
                  level of support that provides easy access to our highly skilled technical assistance.</p>
               <a href="https://experienceleague.adobe.com/en/docs/support-resources/data-sheets/overview" target="_blank">
                  <button class="has-text-grey-dark spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
                     <span class="spectrum-Button-label">Learn More</span>
                  </button>
               </a>
            </div>
         </div>
      </div>

      <!-- Start Learning Resources-->
      <div class="resp-padding is-padded-bottom-big-big-big is-padded-top-big-big-big   ">
         <h2 class="has-text-weight-bold is-size-4 is-margin-bottom-big light-black">Additional learning resources.</h2>
         <div class="columns is-multiline ">
            <div class="column is-4-desktop is-6-tablet pl-0">
               <a href="https://experienceleague.adobe.com/?lang=en#learn" target="_blank" title="Experience League"
                  class="support_learning_inner_sec border columns  has-background-white hoverbox">
                  <div class="supprot_learning_image_sec is-3-tablet column p-0">
                     <div><img src="/assets/img/support/Icon_Develop_Skills.png" class="ml-5 mt-5 pt-3 additional-image" alt="Learning Resources"></div>
                     
                  </div>
                  <div class="support_learning_descp_sec is-9-tablet column">
                     <h3 class=" mt-3 mb-2  learning-head">Experience League</h3>
                     <h4 class="is-size-5 is-marginless has-text-weight-bold pr-3 pb-3 mr-1">
                        Develop your skills with personalized learning in Adobe Experience League.</h4>
                  </div>
               </a>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
               <a href="https://experienceleaguecommunities.adobe.com/?profile.language=en" target="_blank"
                  title="Experience League Community"
                  class="support_learning_inner_sec border columns  has-background-white hoverbox">
                  <div class="supprot_learning_image_sec is-3-tablet column p-0">
                     <div><img src="/assets/img/support/Icon_Ask_Peers.png" class="ml-5 mt-5 pt-3 additional-image" alt="Learning Resources"></div>
                     
                  </div>
                  <div class="support_learning_descp_sec is-9-tablet column">
                     <h3 class="mt-3 mb-2 learning-head">Experience League Community</h3>
                     <h4 class="is-size-5 is-marginless has-text-weight-bold pr-3 pb-3 mr-1">
                        Ask your peers about various Experience Cloud questions and solutions.</h4>
                  </div>
               </a>
            </div>
            <div class="column is-4-desktop is-6-tablet">
               <a href="https://experienceleague.adobe.com/?lang=en#instructor-led" target="_blank"
                  title="Learning Services"
                  class="support_learning_inner_sec border columns  has-background-white hoverbox">
                  <div class="supprot_learning_image_sec is-3-tablet column p-0">
                     <div><img src="/assets/img/support/Icon_InDepth.png" class="ml-5 mt-5 pt-3 additional-image" alt="Learning Resources"></div>
                     
                  </div>
                  <div class="support_learning_descp_sec is-9-tablet column">
                     <h3 class=" mt-3 mb-2 learning-head">Learning Services</h3>
                     <h4 class="is-size-5 is-marginless has-text-weight-bold pr-3 pb-3 mr-1">
                        In-depth training through in-person and virtual instructor-led training.</h4>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>

</div>