<!--<div class="support-openticket-form-image is-flex is-justify-content-center	is-vcentered " title="${data.el.name}">
  <h3  class="is-marginless is-uppercase" >${data.el.value}</h3>
  <span class="support-openticket-form-image-removeicon" data-id="${data.idx || 0}">
    <img src="/assets/img/support/drag-rm-icon.png" />
  </span>
</div>-->

<div class="support-openticket-form-image" title="${data.el.name}">
  <img src="/assets/img/support/file-txt.svg" alt="Image" />
  <span class="support-openticket-form-image-removeicon" data-id="${data.idx || 0}">
    <img src="/assets/img/support/drag-rm-icon.png" />
  </span>
</div>
