<div>
  <div class="header">
    <div class="columns is-vcentered is-marginless">
      <div class="column is-5 is-marginless-mobile is-margin-left-big-big-big is-margin-top-big-big">
        <h1 class="is-size-3 is-margin-bottom-small">Create my profile</h1>
        <p>Improve your learning experiences with customized content recommendations.  Make four simple selections below to get started.</p>
      </div>
    </div>
  </div>
  <div class="columns is-marginless is-padded-top-big is-padded-bottom-big">
    <div class="column is-marginless-mobile is-margin-left-big-big-big">
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline">1. Select your learning interests</h2>
        </div>
      </div>
      <h3 class="is-size-6 is-margin-bottom-big-big-big">Check all of the following that apply.</h3>
      ${data.rendered.interests}
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline">2. Select your role</h2>
        </div>
      </div>
      <h3 class="is-size-6 is-margin-bottom-big-big-big">Select all options that apply.</h3>
      <div class="is-margin-bottom-big-big has-overflow-hidden">
        <div class="columns">
          <div class="column">
            <div class="content">
              <ul class="list-no-style">
                ${data.rendered.roles}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline">3. Select your experience level</h2>
        </div>
      </div>
      <div class="is-margin-bottom-big-big has-overflow-hidden">
        <div class="columns">
          <div class="column">
            <div class="content">
              <ul class="list-no-style">
                ${data.rendered.levels}
              </ul>
            </div>
          </div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-5 is-margin-top-big-big has-underline">4. Select your industry</h2>
        </div>
      </div>
      <div class="columns">
        ${data.rendered.industries}
      </div>
    </div>
  </div>
  <div class="columns is-marginless is-padded-top-big is-padded-bottom-big preferences">
    <div class="column is-11 is-marginless-mobile is-margin-left-big-big-big">
      <h2 class="title is-5 is-margin-top-big-big has-underline">My notification preferences</h2>
      <div class="content has-text-left">
        <p>
          <label class="checkbox">
            <input data-autosave="true" data-name="emailOptIn" type="checkbox" ${[data.emailOptIn].map(i => i === true ? ' checked' : '').join('')}>
            <span class="is-margin-left-big">Send me Experience League emails about my progress, awards, and recommended learning</span>
          </label>
        </p>
        <p>
          <label class="checkbox">
            <input data-autosave="true" data-name="geo" type="checkbox" ${[data.geo].map(i => i === true ? ' checked' : '').join('')}>
            <span class="is-margin-left-big">Use my location for local event recommendations</span>
          </label>
        </p>
        <p>
          <label class="checkbox">
            <input data-autosave="true" data-name="inProductActivity" type="checkbox" ${[data.inProductActivity].map(i => i === true ? ' checked' : '').join('')}>
            <span class="is-margin-left-big">Connect my in-product activity with Experience League for more personalized learning</span>
          </label>
        </p>
      </div>
    </div>
  </div>
  <div class="columns is-marginless is-padded-top-big is-padded-bottom-big">
    <div class="column is-10 is-marginless-mobile is-margin-left-big-big-big">
      <h2 class="title is-5">Start learning</h2>
      <p>
        <a class="button is-rounded is-outlined has-text-weight-bold" data-id="close" href="#dashboard/learning" title="See my recommended learning">See my recommended learning</a>
      </p>
    </div>
  </div>
</div>
